table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
}
body{
  margin: 0;
}
.container{
   background: green;
     width: 100%;
     display: flex;
     justify-content: center;
}

.item{
   color: white;
   font-weight: bold;
     align-self: center;
}


.res-circle {
       width: 2%;
       border-radius: 50%;
       line-height: 0;
       background: #bcd6ff;
       /* NECESSARY FOR TEXT */
       position: relative;
       float:left;
 }

.res-circle:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.circle-txt {
  position: absolute;
  bottom: 50%;
   width: 100%;
  text-align: center;
  /* NOT IMPORTANT */
  font-family: arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #808080;
  color: white;
  text-align: center;
}
