<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head" />
<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand"  href="/"><img style="width:100%;height:100%" class="img-fluid" th:src="@{/logo/JavaLeader_logo_v2.png}"/></a>
        <div id="wrapper">
            <div class="unauthenticated">
                <a id= "fb-button" class="btn btn-primary btn-block" href = "/connect/facebook">
                    <span class="text-white fab fa-facebook-f"></span> Zaloguj przez FB
                </a>
                <a id = "github-button" class="btn btn-primary btn-block" href="/connect/github">
                    <span class="text-white fab fa-github"></span> Zaloguj przez GitHub
                </a>
            </div>
            <div class="authenticated" style="display: none">
                Zalogowano jako: <span id="user"></span>
                <button onClick="logout()" class="btn btn-primary btn-block"><i class="fas fa-sign-out-alt"></i> Wyloguj się</button>
                <button onclick="window.location.href='/upload'" class="btn btn-warning btn-block"><i class="fas fa-file-pdf"></i> Wgraj </button>
            </div>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h1 class="mb-4">Dziel się wiedzą i szukaj wiedzy IT</h1>
                <h2 class="mb-4">twórz i szukaj wiedzy w postaci dokumentów PDF</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <input type="email" class="form-control form-control-lg" placeholder="czego szukasz?"></input>
                        </div>
                        <div class="col-12 col-md-3">
                            <button type="submit" class="btn btn-block btn-lg btn-primary">szukaj <i class="fas fa-file-pdf"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="upload-container">
        <div class="text-left upload-content">
            <div class="single-upload">
                <h3 class="text-black-50">Wgraj swój PDF</h3>
                <form id="singleUploadForm" name="singleUploadForm">
                    <input id="singleFileUploadInput" type="file" name="file" class="file-input text-black-50" />
                    <button type="submit" class="primary submit-btn">Wyślij do weryfikacji</button>
                </form>
                <div class="upload-response">
                    <div class="text-black-50" id="singleFileUploadError"></div>
                    <div class="text-black-50" id="singleFileUploadSuccess"></div>
                </div>
            </div>
        </div>
    </div>

</header>


<div th:fragment="contact-section" class="site-section bg-contact-light" id="contact-section">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-7">
                <h2 class="section-title mb-3"><i class="fas fa-envelope"></i> Masz pytania? pisz śmiało!</h2>
                <div th:if="${success_contact_message_added != null}">
                    <p><i class="fas fa-check text-success"></i> <span class="text-black" th:text="${success_contact_message_added}"></span></p>
                </div>
                <form th:action="@{~/contact-process}" th:object = "${contactdata}" data-aos="fade" method="post">

                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <p th:if="${#fields.hasErrors('nick')}" th:errors="*{nick}"></p>
                            <input type="text" th:field  = "*{nick}" class="form-control" placeholder="Nick" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <p th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}"></p>
                            <input type="text"  th:field  = "*{topic}" class="form-control" placeholder="Temat" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            <input type="email"  th:field  = "*{email}" class="form-control" placeholder="Email" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></p>
                            <textarea  th:field  = "*{message}" class="form-control" id="" cols="30" rows="10" placeholder="Twoja wiadomość..."></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary py-3 px-5 btn-block btn-pill" value="Wyślij"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer">&copy; 2019 Java Development</div>
</body>
</html>